body,html,* {
    margin: 0px;
    padding: 0px;
}
form{
    width: 100%;
    margin: 0 auto;
    /* height: 100%; */
    height: 100vh;
    /* border: 1px solid red; */
    background-color: rgba(243, 244, 247, 1);
}
.titleF{
    width: 100%;
    /* height: 110px; */
    height: 10vh;
    background-color: rgba(72, 139, 255, 1);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    line-height: 8vh;
}
.table {
    padding-left: 0.5vh;
    height: 80vh;
    line-height: 5vh;
}

 
#addr-show, #addr-show02,#addr-show03{
    width: 200px;
    /* height: 25px; */
    height: 3vh;
    margin-bottom: 2px;
}
 
.btns {
    width: 20%;
    /* height: 30px; */
    height: 3vh;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #aaa;
}
 
.btns:disabled{
    background-color:#ccc;
}
 
 
select {
    width: 26.5%;
    /* height: 30px; */
    height: 3vh;
    border-radius: 5px;
    border: 0;
    font-size: 26px;
}
#iCenter{
    width:40vh; 
    height: 40vh; 
    border:1px #000 solid;
    /* margin:20px auto; */
    position: absolute;
    left: 16%;
    top: 20%;
}
input{
    border-radius: 5px;
    border-style: none;
    outline: none;
    /* height: 30px; */
    height: 3vh;
    /* border: 1px solid #999595; */
    font-size: 28px;
}
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 4vh;
}

.stars::before {
    content: '*';
    color: red;
    font-size: 18px;
}
.content{
    /* padding: 0.5vh 0; */
    padding-top: 0.8vh;
    border-bottom: 1px solid #b0b0a8;
    font-size: 30px;
}
.Idcard{
    height: 100vh;
    /* line-height: 100vh; */
    display: table;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(185, 224, 248);
}
.box{
    display:table-cell;
    vertical-align: middle;
    /* width: 50%; */
    text-align: center;
}
input::-webkit-input-placeholder{
    font-size: 28px;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    font-size: 28px;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    font-size: 28px;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    font-size: 28px;
}
#deleteTable,#submits{
    background-image: linear-gradient(to right, rgba(254, 200, 136, 1) , rgba(254, 175, 32, 1));
    background-image: -webkit-linear-gradient(to right, rgba(254, 200, 136, 1) , rgba(254, 175, 32, 1));
    background-image: -moz-linear-gradient(to right, rgba(254, 200, 136, 1) , rgba(254, 175, 32, 1));
    background-image: -o-linear-gradient(to right, rgba(254, 200, 136, 1) , rgba(254, 175, 32, 1));
}
#addTable,#resets,#position{
    background-image: linear-gradient(to right, rgba(150, 189, 255, 1) , rgba(106, 137, 255, 1));
    background-image: -webkit-linear-gradient(to right, rgba(150, 189, 255, 1) , rgba(106, 137, 255, 1));
    background-image: -moz-linear-gradient(to right, rgba(150, 189, 255, 1) , rgba(106, 137, 255, 1));
    background-image: -o-linear-gradient(to right, rgba(150, 189, 255, 1) , rgba(106, 137, 255, 1));
}